<head>
    <meta charset="utf-8">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <title>iDigger</title>
</head>


<body>
    <nav class="navbar navbar-default" role="navigation">
       <div class="navbar-header">
          <a class="navbar-brand" href="/plist">数据包包列表</a>
          <a class="navbar-brand" href="/capinfo">文件信息</a>
          <a class="navbar-brand" href="/conv">会话列表</a>
          <a class="navbar-brand" href="/expertinfo">告警与提示</a>
       </div>
       <form action='/set_dfilter'>
           设置过滤器: <input type="text" name="dflt"></input>
           <input type="submit" value="确定"></input>
       </form>
    </nav>
    {% block content %}                                                                                                                                  
    {% endblock %}
</body>

</html>
